<div class="container p-5">
  <form [formGroup]="formOne" (ngSubmit)="send()">
    <label for="field1">Field 1: </label>
    <input formControlName="field1" placeholder="Enter value 1" />
    <div class="p-3"></div>
    <label for="field2">Field 2: </label>
    <input formControlName="field2" placeholder="Enter value 2" />
    <div class="p-3"></div>
    <label for="field3">Field 3: </label>
    <input formControlName="field3" placeholder="Enter value 3" />
    <div class="p-3"></div>
    <button type="submit" class="btn btn-sm btn-success">Submit</button>
  </form>
</div>
